/* src/styles/global.css */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    left: 0;
    top: 0;
    margin: 0;
}

nav {
    background-color: transparent;
    color: white;
    padding: 1.6rem 16.666%;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #EB662B;
    margin-right: 1em;
    text-decoration: none;
}

.navigation-block{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 600;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #0044cc;
    color: white;
}
